body{
    background-color: #fceaff;
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    
    background-color: #fff0f6;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #ff85c0;
    



}
h2{
    font-size: 30px;
    color: #ff85c0;
    margin-bottom: 20px;
    text-align: center;
    
    
}
span{
    border: 2px solid;
}
.love-calculator{
    margin-top: 20px;
}

label{
    display: block;
    margin-top: 10px;
    
    color: #ff85c0;
    font-size: 15px;
    
}
input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #ff85c0;
    border: 2px solid ;
    border-radius: 5px;
}
button{
    background-color: #ff85c0;
    color: azure;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    
}
#result{
    margin-top: 10px;
    font-size: 22px;
    color: #ff85c0;
}